<div id="wrapper">
         <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">  Menu     </a>
                </li>
                <li><code>{{username}}</code></li>
                <li><a href="#">&nbsp;</a></li>
                <li><a href="/logout">Logout</a></li>
                <li><a href="#">&nbsp;</a></li>
                <li><a href="/index">Home</a></li>
                <li><a href="/calc-form">Calculator</a></li>
                <li><a href="/conv-form">Conversions</a></li>

                <!--div class="dropdown">
                <li><a href="#">Services</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Contact</a></li-->
            </ul>
        </div>  