<head>
    <meta charset="utf-8">
    <title>Calc</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, shrink-to-fit=no, initial-scale=1">
    <link href="/lib/css/bootstrap.min.css" rel="stylesheet">
    <link href="lib/css/simple-sidebar.css" rel="stylesheet">
</head>	