<!DOCTYPE html>
<html lang="en">

{{>includeHead}}
<body>
{{>includeMenu}}
<div class="container">
  <div class="jumbotron">
     <h3>Welcome To My Website </h3>
          <label for="num1">Select Arithmetic Operations :</label>     
            <select  required class="form-control" name="operator">
                  <option value="calculator">Calculator</option>
                  <option value="Conversion">Conversion</option>
            </select>

            <BR/>    
            <input type="submit" class="btn btn-primary btn-lg"/>
            <BR/>
      </form>  
  </div>
  </div>
  {{>includeFoot}}
  </body>
  </html>