<!DOCTYPE html>
<html lang="en">
{{>includeHead}}    
<body>
<div id="loginModal" class="modal show" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
  <div class="modal-content">
      <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h1 class="text-center">Login</h1>
          <h5 class="text-center">{{errormsg}}</h5>
      </div>
      <div class="modal-body">
          <!--  FORM   -->
          <form method="post" action="/auth" 
            class="form col-md-12 center-block">
              <div class="form-group">
                <input type="text" name="nm" required
                class="form-control input-lg" placeholder="Name">
              </div>
              <div class="form-group">
                <input type="password" name="pwd" required
                class="form-control input-lg" placeholder="Password">
              </div>
              <div class="form-group">
                <button class="btn btn-primary btn-lg btn-block">Sign In</button>
                <span class="pull-right"><a href="#">Register</a></span><span><a href="#">Need help?</a></span>
              </div>
          </form>
      </div>
      <div class="modal-footer">
          <div class="col-md-12">
          <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
          </div>    
      </div>
  </div>
  </div>
</div>
    <!-- script references -->
        
{{>includeFoot}}    
    </body>
</html>