<!DOCTYPE html>
<html lang="en">  
	{{>includeHead}}
	<body>
	{{>includeMenu}}
	 <div class="container">
	 <h5><code>Hi {{username}}!</code></h5>
      <h3>Result={{resultvar}} </h3>
	{{>includeFoot}}
    </body>
</html>
